<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-3" style="padding-bottom: 10px">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Perlu Verifikasi</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <a href="<%= admin_index_url(stat: "Proses Pengesahan", sch: true)%>">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @ptnsmmbs.where(stat: "Proses Pengesahan").count  %></div>
                </a>
              </div>
              <div class="col">
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-exclamation-circle fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-3" style="padding-bottom: 10px">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Ahli Biasa</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <a href="<%= admin_index_url(stat: "Aktif", sch: true, ahli: "Ahli Biasa")%>">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @ptnsmmbs.where(tp: "AHLI BIASA", stat: "Aktif").count %></div>
                </a>
              </div>
              <div class="col">
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-users fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-3" style="padding-bottom: 10px">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Ahli Seumur Hidup</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <a href="<%= admin_index_url(stat: "Aktif", sch: true, ahli: "Ahli Seumur Hidup")%>">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @ptnsmmbs.where(tp: "AHLI SEUMUR HIDUP",stat: "Aktif").count %></div>
                </a>
              </div>
              <div class="col">
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-child fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-3" style="padding-bottom: 10px">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Ahli Institusi</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <a href="<%= admin_index_url(stat: "Aktif", sch: true, ahli: "Ahli Institusi")%>">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @ptnsmmbs.where(tp: "AHLI INSTITUSI",stat: "Aktif").count %></div>
                </a>
              </div>
              <div class="col">
              </div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-building fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  

  

</div>

<%
  
  ahli = ["Ahli Biasa", "Ahli Seumur Hidup", "Ahli Institusi"]
  stat = ["Proses Pengesahan","Keahlian Ditolak","Pembayaran Yuran","Aktif","Keahlian Luput","Keahlian Digantung"]
%>

<% link_to mmbxls_path(ids: @ptnsmmbs.ids,format: :xlsx), class: "badge badge-pill badge-info", format: :xlsx, style: "font-size: 15px; font-weight: normal; margin-top: -200px", method: :post do %>
  <i class="fa fa-file-excel"></i> Muat Turun Data
<% end %>

<% if @admin == Admin.first %>
  <%= form_tag upld_mmb_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Uploads" %>
  <% end %>
<% end %>


<!-- START TABLE -->
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header">
    <div class="row">
      <%= form_tag admin_index_path, method: :get, id: "find_kid" do %>
        <%= text_field_tag :sch_str, params[:sch_str], placeholder: "Carian Nama", style: 'text-transform: uppercase' %>
        <%= select_tag :daerah, 
                    options_for_select($daerah_ptns, params[:daerah]), {include_blank: "Semua Daerah"} %>
        <%= select_tag :ahli, 
                    options_for_select(ahli, params[:ahli]), {include_blank: "Semua Keahlian"} %>
        <%= select_tag :stat, 
                    options_for_select(stat, params[:stat]), {include_blank: "Semua Status"} %>
        <%= hidden_field_tag :sch, params[:sch], value: true %>
        <%= button_tag(type: :submit, class: "badge badge-success shadow-none", style: "font-size: 14px; border-style: none; font-weight: normal",  id: "submit_expense") do %>
            <i class="fa fa-search"></i> Cari
        <% end %>

        <%= link_to admin_index_path, class: "badge badge-danger shadow-sm", style: "font-size: 14px; font-weight: normal" do %>
            <i class="fa fa-sync"></i> Clear
        <% end %>&nbsp
        <% if params[:sch].present? %>
          <%= link_to "#{@ptnsmmbs.count} data dipaparkan", "#",class: "badge badge-secondary shadow-sm", style: "font-size: 12px; font-weight: normal" %>
        <% end %>
      <% end %>
      <div>
        
      </div>
    </div>
  </div>
  <div class="card-body">
    
  <% if 1==0 %>
    <br>
    <div style="background-color:#ffcccc"><h3 align="center">NO RESULT FOUND</h3></div>
  <% else %>
    
    
    <div class="table table-responsive border" style="font-size:13px">
      <%= form_for(:ans, :url => {:controller=>'ptns_mmbs', :action=>'bulkupd'}, :html => {multipart: true, class: "form-horizontal", method: :post, role: "form"}) do |f| %>

        <table class="table table-bordered table-striped shadow" width="100%" cellspacing="0">
          <thead>
            <tr class="shadow">
              <th style="background-color:#ffb2b2">NAMA & IC</th>
              <th style="background-color:#ffb2b2; width: ">JENIS KEAHLIAN</th>
              <th style="background-color:#ffb2b2; width: ">MAKLUMAT AHLI</th>
               <th style="background-color:#ffb2b2; width: ">DOKUMEN PENTING</th>
              <th style="background-color:#ffb2b2; width: ">STATUS</th>
            </tr>
          </thead>
          <tbody>
            <% @ptnsmmbs.order('name ASC').each do |ptm| %>
            <%= f.fields_for :"#{ptm.id}" do |h| %>
              <tr>
                <td>
                  <%= link_to ptm.name, mmbprof_path(id: ptm.id), target: "_blank" %><br>
                  (<%= ptm.icf %>)
                  <% if ptm.stat == "Aktif" %><br>
                    <%= link_to "Kad Ahli", checkmmb_path(icf: ptm.icf), class: "badge badge-info shadow-sm", style: "font-size: 12px; font-weight: normal", target: "_blank" %>
                  <% end %>
                </td>
                <td>
                  <%= "#{ptm.tp}" %><br>
                  (<%= ptm.mmbid %>)
                </td>
                <td>
                  <%= ptm.ph1 %><br>
                  <%= ptm.email %>
                </td>
                <td>
                  <b>TARIKH LUPUT JKM: </b><%= ptm.expire.strftime('%d-%^b-%y') %><br>
                  <b>STATUS JKM: </b><%= ptm.ts_status %><br>
                  <% if (ft=ptm.fotos.where(foto_name: "SIJIL JKM").first.picture).present? %>
                    <%= link_to "SIJIL JKM", ft.url, target: "_blank" %>
                  <% else %>
                    <i>Tiada Sijil JKM</i>
                  <% end %>
                  <% if ptm.tp != "AHLI INSTITUSI" %>
                    <br>
                    <% if (ft=ptm.fotos.where(foto_name: "JAWATAN").first.picture).present? %>
                      <%= link_to "PENGESAHAN JAWATAN", ft.url, target: "_blank" %>
                    <% else %>
                      <i>Tiada Pengesahan Jawatan</i>
                    <% end %>
                  <% end %>
                  <br>
                  
                </td>
                <td>
                    <%= h.select :stat, options_for_select(stat, 
                                                          selected: ptm.stat), 
                    {include_blank: ""}, {required: true} %>
                    <div style="margin-bottom: 5px"></div>
                    <%
                      if ptm.newreg
                        nwr = "Pendaftaran Baru"
                      else
                        nwr = "Ahli Sedia Ada"
                      end
                    %>
                    <%= h.select :newreg, options_for_select(["Pendaftaran Baru","Ahli Sedia Ada"], 
                                                          selected: nwr), 
                    {include_blank: ""}, {required: true} %>

                    <%= h.text_area :statdl, class: "form-control", style: "margin-top: 10px; font-size: 12px", value: ptm.statdl %>
                </td>
              </tr>
              
            <% end %> <!-- END FORM H -->
            <% end %> <!-- END LOOP -->
          </tbody>
        </table>
        <%= f.submit :"KEMASKINI",  class: 'btn btn-sm btn-block btn-success btn-lg', style: "align:center" %>
      <% end %> <!-- FORM -->
    </div>
  </div>
  <% end %>
</div>


