<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">SISTEM KEAHLIAN PTNS</div>

      <% if 1==0 %>
      <%= form_tag checkmmb_path, method: :post, id: "find_kid" do %>

        <%= hidden_field_tag :id, params[:id], value: params[:id] %>
        <%= hidden_field_tag :pmt, params[:pmt], value: @pmt_ids %>
        <%= hidden_field_tag :format, :xlsx %>

        <%= button_tag(type: :submit, class: "btn btn-sm btn-block btn-info", style: "font-size: 14px; border-style: none; font-weight: normal", id: "submit_expense") do %>
            <i class="fa fa-file-excel"></i> Download List
        <% end %>

      <% end %><% end %>

      <!-- FORM IC -->
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto" style="margin-top:-30px;margin-bottom:30px">
        <h6 class="">Sila Masukkan No MYKAD anda untuk menyemak keahlian</h6>
        <form>
          <div class="form-row">

            <%= form_tag checkmmb_path, method: :get, id: "find_kid" do %>
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <%= text_field_tag :id, params[:id], class: "form-control form-control-sm", placeholder: "cth: 870829342134", required: true, minlenght: 2 %>
                <%= hidden_field_tag :sch, params[:sch], value: "sdhjdsh876671" %>
              </div>
              <div class="col-12 col-md-3">
                <%= button_tag(type: :submit, class: "btn btn-block btn-sm btn-primary", style: "", id: "submit_expense") do %>
                    <i class=""></i> Semak
                <% end %>
              </div>
            <% end %>

          </div>
        </form>
      </div>

      <!-- EXPLAINATION -->
      <div class="row text-center">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <h4 class="service-heading">Members Information</h4>
          <span class="fa-stack fa-4x">
            <i class="fas fa-child fa-stack-1x fa-inverse" style="color:#ffbd59"></i>
          </span>
          <p class="service-text" style="text-align:justify">A centralized online database system to record and store all the residents information in your RA/JMB/Taman. Get to know your neighbour better!</p>
        </div>
        <div class="col-md-2">
          <h4 class="service-heading" >Payment Tracking</h4>
          <span class="fa-stack fa-4x">
            <i class="fas fa-file-invoice-dollar fa-stack-1x fa-inverse" style="color:#ffbd59"></i>
          </span>
          <p class="service-text" style="text-align:justify">No more manual bills and receipts needed. We will manage all the invoices creation, tracking and receipts automatically.Even sending a payment reminder! Make immediate online payment via our system with just a few clicks</p>
        </div>
        <div class="col-md-2">
          <h4 class="service-heading">Account Management</h4>
          <span class="fa-stack fa-4x">
            <i class="fas fa-chart-line fa-stack-1x fa-inverse" style="color:#ffbd59"></i>
          </span>
          <p class="service-text" style="text-align:justify">View you month-to-month fees collection. Record and manage your other incomes and expenses. Our system shall analyze everything for you. Sit back and view real time financial status of your organization </p>
        </div>
        <% if 1==0 %>
          <div class="col-md-2">
            <h4 class="service-heading">News and Info Blast</h4>
            <span class="fa-stack fa-4x">
              <i class="fas fa-bullhorn fa-stack-1x fa-inverse" style="color:#ffbd59"></i>
            </span>
            <p class="service-text" style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div> 
        <% end %>  
        <div class="col-md-2">
          <h4 class="service-heading">VISITOR MANAGEMENT</h4>
          <span class="fa-stack fa-4x">
            <i class="fas fa-grin-hearts fa-stack-1x fa-inverse" style="color:#ffbd59"></i>
          </span>
          <p class="service-text" style="text-align:justify">Pre-register your visitor to avoid the hassle at the guard house. Get ready and get notified before your visitor ring your house bell!</p>
        </div>
        <div class="col-md-2">
          <h4 class="service-heading">SECURITY & SAFETY</h4>
          <span class="fa-stack fa-4x">
            <i class="fas fa-user-shield fa-stack-1x fa-inverse" style="color:#ffbd59"></i>
          </span>
          <p class="service-text" style="text-align:justify">Are you in doubt that your hired security guard performing their patrolling task accordingly? Track their patrolling routine using our features. For emergency cases, use our S.O.S button to instantly alert and seek assistant from the security guard</p>
        </div>
        <div class="col-md-1"></div>
      </div>
      
      <br><br>
      
      <a href="https://api.whatsapp.com/send?phone=601162801556&text=Tell%20Me%20More%20About%20KOTA&source=&data="><button class="btn btn-success btn-lg text-uppercase" data-toggle="tooltip" data-placement="top" title="Refer us and get RM100 cash instantly">
        <i class="fa fa-whatsapp fa-lg"></i>&nbsp&nbsp 013-3996061
      </button></a>

      <a href="https://api.whatsapp.com/send?phone=601162801556&text=Tell%20Me%20More%20About%20KOTA&source=&data="><button class="btn btn-success btn-lg text-uppercase" data-toggle="tooltip" data-placement="top" title="Refer us and get RM100 cash instantly">
        <i class="fa fa-whatsapp fa-lg"></i>&nbsp&nbsp 017-4151556
      </button></a> 
    </div>
  </div>
</header>



   

    
