<% 

  if params[:tp] == "AHLI INSTITUSI"
    inst = true
    nama ="NAMA INSTITUSI"
    icn = "NO JKM"
    tlhr = "TARIKH LUPUT JKM"
    pic = "LOGO INSTITUSI"
    addr = "ALAMAT INSTITUSI"
  else
    inst = false
    nama ="NAMA PENUH"
    icn = "NO MYKAD"
    tlhr = "TARIKH LAHIR"
    pic = "GAMBAR PROFIL"
    addr = "ALAMAT KEDIAMAN ANDA"
  end 

  if @ptnsmmb.tp.present?
    tpf = @ptnsmmb.tp
  else
    tpf = params[:tp]
  end

  akf = 1

  if @ptnsmmb.icf.present?
    icf = @ptnsmmb.icf
  else
    icf = params[:icf]
  end

%>

<div class='container bg-light'>
  <div class='col-lg-12 col-12'>
    <%= form_for(@ptnsmmb, :html => {multipart: true, class: "form-horizontal", role: "form"}) do |f| %>

      <div class="form-group"> <!-- name -->
        <div class="row">
          <div class="control-label col-sm-8">
            <strong><%= nama %></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :name, class: "form-control", placeholder: "", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <!-- IC -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong><%= icn %></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :icf, class: "form-control", placeholder: "YOUR FULL NAME AS PER IC", autofocus: true, readonly: true, value: icf %>
          </div>
        </div>
        Pastikan No yang Dipaparkan Adalah Tepat
      </div>

      
      <% if 1==akf %>

        <% if !inst %>
          <!-- DOB -->
          <div class="form-group"> 
            <div class="row">
              <div class="control-label col-sm-8">
                <strong><%= tlhr %></strong>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-12">
                <%= f.date_field :dob, selected: @ptnsmmb.dob, required: true %>
              </div>
            </div>
          </div>

          <!-- Gender -->
          <div class="form-group"> 
            <div class="row">
              <div class="control-label col-sm-8">
                <strong>JANTINA</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-8">
                <%= f.select :gender, 
                options_for_select(
                ["Perempuan","Lelaki"],
                selected: @ptnsmmb.gender), 
                {include_blank: "SILA PILIH"}, {required: true} %>
              </div>
            </div>
          </div>

        <% end %>

        <!-- DOB -->
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <i class="fas fa-cloud-upload-alt"></i><strong><%= pic %></strong>
            </div>
          </div>
          <div class="row">
          <div class="col-sm-8 col-12">
            <% image = @ptnsmmb.fotos.where(foto_name: "PTNS MMB").first %>
            <% 
              if image.present? && image.picture.present? 
              image.picture.content_type == 'application/pdf' ? (url=image_path('pdf-icon.png')) : (url=image.picture.url)
            %>
              <a href="<%="#{image.picture.url}"%>" target="_blank">
                <%= image_tag(url, size: "200x200") if image.picture? %>
              </a>
              <div class="row">
                <div class="col-sm-8 col-5">
                  <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
                </div>
              </div>  
            <% else %>
              <%= f.fields_for :fotos do |h| %>
                <div class="row">
                  <div class="col-sm-8 col-8">
                    <%= h.hidden_field :foto_name, value: "PTNS MMB" %>
                    <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png', required: true %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

        <!-- EMAIL -->    
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>EMAIL</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.email_field :email, class: "form-control", autofocus: true, required: true %>
            </div>
          </div>
        </div>

        <!-- NO TELEFON -->    
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>NO TELEFON</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.text_field :ph1, class: "form-control", autofocus: true, required: true %>
            </div>
          </div>
        </div>

        <!-- ADDRESS-->
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong><%= addr %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
             <%= f.text_field :add1, class: "form-control", autofocus: true, required: true %> <font size="2">&nbsp</font>
            </div>
            <div class="col-sm-8 col-12">
             <%= f.text_field :add2, class: "form-control", autofocus: true %> <font size="2">&nbsp</font>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-6">
             <%= f.text_field :city, class: "form-control", autofocus: true, required: true %> <font size="2"> Bandar </font>
            </div>
            <div class="col-sm-3 col-5">
             <%= f.text_field :state, class: "form-control", autofocus: true, required: true %> <font size="2"> Negeri </font>
            </div>
            <div class="col-sm-2 col-4">
             <%= f.number_field :postcode, class: "form-control", autofocus: true, required: true %> <font size="2"> Poskod </font>
            </div>
          </div>
        </div>

        <!-- DAERAH KEAHLIAN-->
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>DAERAH KEAHLIAN</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-8">
              <%= f.select :mmb, 
              options_for_select(
              $daerah_ptns, 
              selected: @ptnsmmb.mmb), 
              {include_blank: "SILA PILIH"}, {required: true} %>
            </div>
          </div>
        </div>

        <% if inst %>

          <!-- taska owner name -->
          <div class="form-group"> 
            <div class="row">
              <div class="control-label col-sm-8">
                <strong>NAMA PENGUSAHA</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-12">
                <%= f.text_field :ts_owner, class: "form-control", autofocus: true, required: true %>
              </div>
            </div>
          </div>

           <!-- TASKA STATUS-->
          <div class="form-group"> 
            <div class="row">
              <div class="control-label col-sm-8">
                <strong>STATUS INSTITUSI</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-8">
                <%= f.select :ts_status, options_for_select(["BERDAFTAR", "DALAM PROSES"], 
                                                          selected: @ptnsmmb.ts_status), 
                {include_blank: "SILA PILIH"} %>
              </div>
            </div>
          </div>


        <% else %>

          <!-- TASKA DETAILS -->
          <!-- taska name -->
          <div class="form-group"> 
            <div class="row">
              <div class="control-label col-sm-8">
                <strong>NAMA TASKA/PJKK</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-12">
                <%= f.text_field :ts_name, class: "form-control", autofocus: true %>
              </div>
            </div>
          </div>

          <!-- taska owner name -->
          <div class="form-group"> 
            <div class="row">
              <div class="control-label col-sm-8">
                <strong>NAMA PENGUSAHA</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-12">
                <%= f.text_field :ts_owner, class: "form-control", autofocus: true %>
              </div>
            </div>
          </div>

          <!-- Taska PHONE-->
          <div class="form-group"> 
            <div class="row">
              <div class="control-label col-sm-8">
                <strong>NO TELEFON TASKA/PJKK</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2 col-3">
               <%= f.text_field  :ts_ph1, maxlength: 3, class: "form-control", autofocus: true %><font size="2"></font> 
              </div>
              -
              <div class="col-sm-3 col-5">
                <%= f.text_field  :ts_ph2, maxlength: 8, class: "form-control", autofocus: true %><font size="2"></font> 
              </div>
            </div>
          </div>

          <!-- TASKA ADDRESS-->
          <div class="form-group"> 
            <div class="row">
              <div class="control-label col-sm-8">
                <strong>ALAMAT TASKA/PJKK</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-12">
               <%= f.text_field :ts_add1, class: "form-control", autofocus: true %> <font size="2"> &nbsp </font>
              </div>
              <div class="col-sm-8 col-12">
               <%= f.text_field :ts_add2, class: "form-control", autofocus: true %> <font size="2"> &nbsp </font>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 col-6">
               <%= f.text_field :ts_city, class: "form-control", autofocus: true %> <font size="2"> Bandar </font>
              </div>
              <div class="col-sm-3 col-5">
               <%= f.text_field :ts_state, class: "form-control", autofocus: true %> <font size="2"> Negeri </font>
              </div>
              <div class="col-sm-2 col-4">
               <%= f.number_field :ts_postcode, class: "form-control", autofocus: true %> <font size="2"> Poskod </font>
              </div>
            </div>
          </div>

          <!-- TASKA STATUS-->
          <div class="form-group"> 
            <div class="row">
              <div class="control-label col-sm-8">
                <strong>STATUS TASKA/PJKK</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-8">
                <%= f.select :ts_status, options_for_select(["BERDAFTAR", "DALAM PROSES"], 
                                                          selected: @ptnsmmb.ts_status), 
                {include_blank: "SILA PILIH"} %>
              </div>
            </div>
          </div>

          <!-- YOUR ROLE-->
          <div class="form-group"> 
            <div class="row">
              <div class="control-label col-sm-8">
                <strong>JAWATAN ANDA DI TASKA/PJKK</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-8">
                <%= f.select :ts_job, options_for_select(["Penasihat","Pengusaha/Pengerusi", "Pengurus/Penyelia", "Pengasuh"], selected: @ptnsmmb.ts_job), 
                {include_blank: "SILA PILIH"} %>
              </div>
            </div>
          </div>

          <div class="form-group"> 
            <div class="row">
              <div class="control-label col-sm-8">
                <i class="fas fa-cloud-upload-alt"></i><strong>PENGESAHAN JAWATAN</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-12">
                <% image = @ptnsmmb.fotos.where(foto_name: "JAWATAN").first %>
                <% 
                  if image.present? && image.picture.present? 
                  image.picture.content_type == 'application/pdf' ? (url=image_path('pdf-icon.png')) : (url=image.picture.url)
                %>
                  <a href="<%="#{image.picture.url}"%>" target="_blank">
                    <%= image_tag(url, size: "200x200") if image.picture? %>
                  </a>
                  <div class="row">
                    <div class="col-sm-8 col-5">
                      <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
                    </div>
                  </div>  
                <% else %>
                  <%= f.fields_for :fotos do |h| %>
                    <div class="row">
                      <div class="col-sm-8 col-8">
                        <%= h.hidden_field :foto_name, value: "JAWATAN" %>
                        <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png,application/pdf', required: true %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <i>Jika anda adalah pengusaha, sila muat naik penyata SSM</i>
          </div>


        <% end %> <!-- END MMB TYPE -->
      <% end %> <!-- END TESTING -->

      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <i class="fas fa-cloud-upload-alt"></i><strong>SIJIL JKM</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <% image = @ptnsmmb.fotos.where(foto_name: "SIJIL JKM").first %>
            <% 
              if image.present? && image.picture.present? 
              image.picture.content_type == 'application/pdf' ? (url=image_path('pdf-icon.png')) : (url=image.picture.url)
            %>
              <a href="<%="#{image.picture.url}"%>" target="_blank">
                <%= image_tag(url, size: "200x200") if image.picture? %>
              </a>
              <div class="row">
                <div class="col-sm-8 col-5">
                  <strong><%= link_to "EDIT", edit_foto_path(image.id), class: "btn btn-sm btn-success active" %></strong>
                </div>
              </div>  
            <% else %>
              <%= f.fields_for :fotos do |h| %>
                <div class="row">
                  <div class="col-sm-8 col-8">
                    <%= h.hidden_field :foto_name, value: "SIJIL JKM" %>
                    <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png,application/pdf', required: true %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <!-- TARIKH LUPUT JKM -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>TARIKH LUPUT JKM</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.date_field :expire, selected: @ptnsmmb.expire, required: true %>
          </div>
        </div>
      </div>

      





      <%= f.hidden_field :tp, value: tpf %>


      <!-- SUBMIT BUTTON -->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-10 col-4">
            <%= f.submit :"Hantar",  class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
      </div>
    <% end %>
      
  </div>
</div>

