

<div class='container bg-light'>
  <div class='col-lg-12 col-12'>
    <%= form_for(@ptnsmmb, :html => {multipart: true, class: "form-horizontal", role: "form"}) do |f| %>

      <div class="form-group"> <!-- name -->
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NAMA PENUH</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :name, class: "form-control", placeholder: "Seperti Kad Pengenalan", autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <!-- IC -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>NO KAD PENGENALAN</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.text_field :ic1, class: "form-control", placeholder: "YOUR FULL NAME AS PER IC", autofocus: true, readonly: true, value: params[:id] %>
          </div>
        </div>
      </div>

      

      <!-- DOB -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <strong>TARIKH LAHIR</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.date_field :dob, selected: @ptnsmmb.dob %>
          </div>
        </div>
      </div>

      <!-- DOB -->
      <div class="form-group"> 
        <div class="row">
          <div class="control-label col-sm-8">
            <i class="fas fa-cloud-upload-alt"></i><strong> GAMBAR PASSPORT</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-12">
            <%= f.fields_for :fotos do |h| %>
              <div class="row">
                <div class="col-sm-8 col-8">
                  <%= h.hidden_field :foto_name, value: "PTNS MMB" %>
                  <%= h.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <!-- EMAIL -->    
        <div class="form-group"> 
          <div class="row">
            <div class="control-label col-sm-8">
              <strong>EMAIL</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-12">
              <%= f.email_field :email, class: "form-control", autofocus: true %>
            </div>
          </div>
        </div>




      <!-- SUBMIT BUTTON -->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-10 col-4">
            <%= f.submit :"Hantar",  class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
      </div>
    <% end %>
      
  </div>
</div>

