<meta name="viewport" content="width=425">

  <div class="card-container">
    
    
    <div class="header-mmbcard">
      <img class="logo" src="<%= image_path('ptns-ori.png') %>" alt="user" weight="60" height="60" /><font style="font-size: 25px; color: white; font-family: verdana; text-align: center; padding-left: 5px">Kad Keahlian</font>
    </div>
    <%
      foto = @mmb.fotos.where(foto_name: "PTNS MMB").last
      if foto.present? && foto.picture.present?
        pic = foto.picture.url
      else
        pic = image_path('no-foto.png')
      end
    %>
    <img class="round" src="<%= pic %>" alt="user" weight="150" height="150" />

    <div style="background-color: #bfbfbf; margin-top: 15px;">
    <b><h5 style="text-transform: uppercase; color: black"><%= @mmb.name %></h5></b>
    </div>
    <h7 style="text-transform: uppercase; margin-top: 10px"><%= @mmb.mmbid %> (<%= @mmb.mmb %>)</h7>
    <p>Ahli dari <%= @mmb.created_at.strftime('%d-%b-%y') %></p>
    <div class="buttons">
      <button class="primary">
        <%= @mmb.tp %>
      </button>
    </div>
    <br><br>
  </div>
  <br>
  <div class="card-container" style="background-color:">
    
        <br>
        <div style="background-color: white; padding-top: 10px; padding-bottom: 10px; margin-left: 50px; margin-right: 50px"><%= @svg.html_safe %>
          
        </div>
    
    <b><h4 style="text-transform: uppercase; margin-top: 10px"><%= @mmb.icf %></h4></b>
    <h6 style="text-transform: uppercase; margin-top: 10px"><%= @mmb.ph1 %></h6>
    <p>Hak Milik Persatuan Taska Negeri Selangor</p>
    <div class="buttons">
      <button class="btn-primary btn-block">
        Jika Tercicir, Sila Kembalikan Pada <br>
        <b>Tingkat LG, Bangunan Darul Ehsan, No. 3, Jalan Indah, Seksyen 14, 40000 Shah Alam, Selangor, Malaysia</b>
      </button>
    </div>
    
  </div>
</meta>

