<meta name="viewport" content="width=425">

  <div class="card-container">
    
    
    <div class="header-mmbcard">
      <img class="logo" src="https://scontent.fkul14-1.fna.fbcdn.net/v/t31.0-8/12045798_171505396519695_3354953813825370528_o.jpg?_nc_cat=102&ccb=2&_nc_sid=09cbfe&_nc_ohc=H5PlwnDgoi0AX_Jwjq3&_nc_ht=scontent.fkul14-1.fna&oh=4e8ffb76c316bb9fa03324a4d2bdbb6a&oe=602AC559" alt="user" weight="60" height="60" /><font style="font-size: 25px; color: white; font-family: verdana; text-align: center; padding-left: 5px">Kad Keahlian</font>
    </div>
    <img class="round" src="https://scontent.fkul14-1.fna.fbcdn.net/v/t1.0-9/80656538_10157075859808121_6135909060681138176_n.jpg?_nc_cat=100&ccb=2&_nc_sid=09cbfe&_nc_ohc=mmYvPJjguKIAX_n67nB&_nc_ht=scontent.fkul14-1.fna&oh=049d0adee1553f4c5340edf487124352&oe=6029DA7D" alt="user" weight="200" height="200" />
    <b><h4 style="text-transform: uppercase; margin-top: 10px"><%= @mmb.name %></h4></b>
    <h6 style="text-transform: uppercase; margin-top: 10px"><%= @mmb.mmbid %> (<%= @mmb.mmb %>)</h6>
    <p>Ahli dari <%= @mmb.created_at.strftime('%d-%b-%y') %></p>
    <div class="buttons">
      <button class="primary">
        <%= @mmb.tp %>
      </button>
    </div>
    <br><br>
  </div>
  <br>
  <div class="card-container" style="background-color:">
    
        <br>
        <div style="background-color: white; padding-top: 10px; padding-bottom: 10px; margin-left: 50px; margin-right: 50px"><%= @svg.html_safe %>
          
        </div>
    
    <b><h4 style="text-transform: uppercase; margin-top: 10px"><%= @mmb.icf %></h4></b>
    <h6 style="text-transform: uppercase; margin-top: 10px"><%= @mmb.ph1 %></h6>
    <p>Hak Milik Persatuan Taska Negeri Selangor</p>
    <div class="buttons">
      <button class="btn-primary btn-block">
        Jika Tercicir, Sila Kembalikan Pada <br>
        <b>Tingkat LG, Bangunan Darul Ehsan, No. 3, Jalan Indah, Seksyen 14, 40000 Shah Alam, Selangor, Malaysia</b>
      </button>
    </div>
    
  </div>
</meta>

