<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/page_head' %>
      <div class="container-fluid"><br>
          <div class="col-lg-12">
            <%= render partial: "shared/flash_messages", flash: flash %>
            <%= link_to "Cetak/Muat Turun", root_path, class: "badge badge-pill badge-info", style: "font-size: 12px; margin-top: 10px", :onclick => 'window.print();return false;' %><br>
            <%= yield %>
          </div>
      </div>
  <%= render 'layouts/page_foot' %>
</html>